/*************** COLOURS *****************/
/*************** PRELOADER *****************/
/*************** TYPOGRAFI *****************/
body {
  background-color: #dba995;
  font-weight: 400;
  line-height: 1.45;
  color: #cecbcb;
  font-size: 3em;
  font-family: 'Montserrat'; }

p {
  margin-bottom: 1.3em; }

h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1,
.title {
  margin-top: 5rem;
  margin-left: 2.2rem;
  font-size: 1.5em;
  font-family: 'Didot';
  color: #6B474B;
  font-weight: bold; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

.overskrift {
  z-index: 100;
  position: absolute; }

/*************** Navigation *****************/
/*************** Basic *****************/
.container {
  margin: 0 auto; }

.footer_row {
  margin-top: 10vw;
  margin-left: 11vw; }

img {
  margin-top: 100px;
  margin-left: 30vw;
  width: 60vw;
  position: relative; }

/*************** DOWNLOAD BTN *****************/
.download_btn {
  width: 600px;
  height: 80px;
  font-size: 55px;
  color: #dba995;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  transition: all .5s ease;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 4vw; }

a {
  text-decoration: none;
  color: #dba995; }

.is-active {
  box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.4);
  transform: translateY(10px); }

/*************** Formular *****************/
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Montserrat'; }

textarea {
  height: 200px; }

input[type=submit] {
  background-color: rgba(255, 255, 255, 0.2);
  color: #dba995;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat'; }

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.6); }

.form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat';
  color: #dba995; }

.hidden {
  display: none; }

#formfailure {
  background-color: #fd4c4c;
  padding: 1em; }

label {
  color: #dba995; }

/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
@media screen and (min-width: 1024px) {
  body {
    background-color: blue; }

  h1,
  .title {
    margin-top: 16rem;
    margin-left: 5rem;
    font-size: 1.8em; } }
img {
  margin: 10vh 0 0 -42.5vw;
  width: 98vw; }

.download_btn {
  width: 500px;
  font-size: 50px;
  padding: 16px 20px;
  border-radius: 15px;
  margin-left: -20vw; }

/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/

/*# sourceMappingURL=style.css.map */
