/*************** COLOURS *****************/
/*************** PRELOADER *****************/
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: visible;
  background-color: white;
  transition: 1s linear;
  opacity: 1; }

#preloader_img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url("https://loading.io/spinners/liquid/lg.liquid-fill-preloader.gif") no-repeat center center; }

#container,
#footer {
  display: none; }

/*************** TYPOGRAFI *****************/
body {
  background-color: #dba995;
  font-weight: 200;
  line-height: 1.30;
  color: #6B474B;
  font-size: 2em;
  font-family: 'Montserrat'; }

p {
  margin-bottom: 1.3em;
  margin-left: 1.3em;
  margin-right: 1.3em; }

h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1,
.title {
  margin-top: 8rem;
  margin-left: 3rem;
  font-size: 1.5em;
  font-family: 'Didot';
  color: #6B474B;
  font-weight: bold; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 20em;
  margin-left: 14em; }

h4 {
  font-size: 1.414em; }

.overskrift {
  z-index: 100;
  position: absolute;
  margin-top: 30vw;
  margin-left: 4vw; }

/*************** Navigation *****************/
.sidenav {
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: list-item; }

.sidenav a {
  padding: 30px 8px 8px 32px;
  text-decoration: none;
  font-size: 100px;
  color: #dba995;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #dba995;
  cursor: pointer; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 150px;
  margin-left: 60px;
  margin-top: -75px;
  cursor: pointer;
  display: block; }

.burger {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.6); }

/*************** Basic *****************/
.container {
  margin: 0 auto; }

.footer_row {
  margin-top: 15vw;
  margin-left: 8vw; }

img {
  margin-top: 50vw;
  margin-left: -8vw;
  width: 80vw;
  position: relative; }

.guide_txt {
  font-size: 1rem;
  margin-right: 20em;
  margin-left: 15em; }

/*************** DOWNLOAD BTN *****************/
.download_btn {
  width: 500px;
  height: 80px;
  font-size: 55px;
  color: #dba995;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  transition: all .5s ease;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 9vw;
  margin-top: 15vw; }

a {
  text-decoration: none;
  color: #dba995; }

.is-active {
  box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.4);
  transform: translateY(10px); }

/*************** Formular *****************/
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Montserrat'; }

textarea {
  height: 200px; }

input[type=submit] {
  background-color: rgba(255, 255, 255, 0.2);
  color: #dba995;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px; }

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.6); }

.form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat';
  color: #dba995;
  margin-top: 15vw; }

.hidden {
  display: none; }

#formfailure {
  background-color: #fd4c4c;
  padding: 1em; }

label {
  color: #dba995; }

/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
/*************** Medium device *****************/
@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 16rem;
    margin-left: 5rem;
    font-size: 1.8em; }

  img {
    margin: 0 0 0 -54vw;
    width: 98vw; }

  .download_btn {
    width: 500px;
    font-size: 60px;
    padding: 16px 20px;
    border-radius: 15px;
    margin-left: -20vw;
    margin-top: -2.5vw; }

  .burger {
    font-size: 80px; }

  .sidenav a {
    padding: 30px 25px 8px 32px;
    font-size: 50px; }

  .sidenav {
    height: 100vh; }

  .footer_row {
    margin-top: 5vw; }

  p {
    margin-left: 2.5em;
    margin-right: 2.5em; }

  .designer {
    margin-left: 1.5em;
    margin-right: 1.5em; }

  .title {
    margin-left: 2vw; }

  .overskrift {
    margin-top: 12vw;
    margin-left: 9vw; }

  .form {
    width: 700px;
    margin-top: 10vw; }

  input,
  textarea {
    font-size: 1.2rem; }

  label {
    font-size: 2rem; } }
/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/
/*************** Large device *****************/
@media screen and (min-width: 1440px) {
  img {
    margin: -10vw 0 0 -35vw;
    width: 70vw; }

  .overskrift {
    margin-top: 2vw;
    margin-left: 20vw;
    font-size: 1.5em; }

  .download_btn {
    width: 500px;
    font-size: 60px;
    padding: 16px 20px;
    border-radius: 15px;
    margin-left: -14vw;
    margin-top: 0; }

  .designer {
    margin-left: 4.8em;
    margin-right: 1.5em; }

  .closebtn {
    font-size: 80px; } }

/*# sourceMappingURL=style.css.map */
