{{ partial "header.html" . }}

<div id="preloader">
    
    <div id="preloader_img" ></div>
    <center class="loading">Loading</center>
    
</div>

<div id="container" class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1 class="overskrift">{{ .Title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 col-md-offset-5 ">
            {{ .Content }}


            <div class="download_btn">
                <a href="systematik-kopi.zip" download>Download</a>
            </div>

        </div>

        <!--         
            
            target="_blank"
-->


    </div>
</div>

<div id="footer" class="footer_row">
    <div class="col-xs-12">
        <p>Theme Designer: Lise Moxoll</p>
    </div>
</div>


<script src="{{.Site.BaseURL}}/js/preloader.js"></script>



{{ partial "footer.html" . }}
